{% extends "templates/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
       .dashboard{
          display: flex;
          width: 100vw;
          height: 90.8vh;
       }
       .cardwidth{
        min-width: 500px;
       }
       .main{
        width: 100vw;
       }
       #value{
        display: none;
       }
       #chart{
        width: 100%;
        height: 70%;
       }
       #filter-container {
            display: flex;
            justify-content:flex-end;
            margin: 20px;
        }

        #dropdown-container {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
        }
        .flexChart{
          display: flex;
          justify-content: space-between;
          width: 50%;
        }
    </style>
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
        <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="https://pbs.twimg.com/profile_images/969651847072854016/O1wofIxB_400x400.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top rounded-circle">
                  Fleet Management
                </a>
              </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse float-right" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Fleet
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="app/new-contract-details">Contract</a></li>
                  <li><a class="dropdown-item" href="#">Services</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reporting
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="app/accident-details">Accident log</a></li>
                  <li><a class="dropdown-item" href="app/fuel-log">Fuel log</a></li>
                  <li><a class="dropdown-item" href="app/odometer-readings">Odometer log</a></li>
                  <li><a class="dropdown-item" href="app/fine-details">Fines log</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Configuration
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="manufacture">Manufactures</a></li>
                </ul>
              </li>
              <li>
                <div class="dropdown">
                  <a href="#" class="d-flex align-items-center  text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>Fleet admin</strong>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/">Sign out</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
      <div class="dashboard">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4">Graphs</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                  Home
                </a>
              </li>
              <li>
                <a href="http://fleet.mgmt:8000/app/vehicle_booking/view/calendar/vehiCV" class="nav-link text-white">
                 Calender
                </a>
              </li>
            </ul>
          </div>
        <div class="main p-2">
            <div class="row">
                <div class="col-sm-6">
                  <div class="card cardwidth">
                    <div class="card-body">
                      <h5 class="card-title">Total Number Of Vehicle</h5>
                      <p class="card-text">0</p>
                      <a href="/app/details_of_vehicles/view/list" class="btn btn-primary">List Of Vehicles</a>
                      <a href="/app/details_of_vehicles/new-details_of_vehicles-1" class="btn btn-primary">Register New Vehicle</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card cardwidth">
                    <div class="card-body">
                      <h5 class="card-title">Total Number Of Driver</h5>
                      <p class="card-text">0</p>
                      <a href="app/details_of_driver/view/list" class="btn btn-primary">List Of Driver</a>
                      <a href="app/details_of_driver/new-details_of_driver-1" class="btn btn-primary">Register New Driver</a>
                    </div>
                  </div>
                </div>
              </div>
              <div id="value">
                {% set doc = frappe.get_all('Fuel_Logs', fields=['vehicle_no','amount','fuel_in_litres','date','current_odometer_reading']) %}
                
                {% for item in doc %}
                    {% set formatted_date = item.date.strftime('%Y-%m-%d') %}
                    {% set doc = item.update({'date': formatted_date}) %}
                {% endfor %}
                {{doc}}
            </div>
            <div id="value1" style="display: none;">
              {% set doc1 = frappe.get_all('Fine_details', fields=['vehicle_no','fine_date','fine_amount']) %}
              {% for item in doc1 %}
                {% set formatteddate = item.fine_date.strftime('%Y-%m-%d') %}
                {% set doc1 = item.update({'fine_date': formatteddate}) %}
              {% endfor %}
             {{doc1}}
            </div>
            <div id="chart">
               <div id="filter-container">
                <select id="filter-option">
                    <option value="week">Week</option>
                    <option value="day">Day</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                    <option value="interval">Custom Interval</option>
                </select>
                <input type="date" id="start-date" style="display: none;">
                <input type="date" id="end-date" style="display: none;">
                <button id="filter" style="display: none;">Filter</button>
            </div>
            <div class="flexChart">
              <canvas id="myChart" width="400px" height="300px"></canvas>
              <canvas id="myChart1" width="400px" height="300px"></canvas>
            </div>
            </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        function chart2(label){
          const ctx1 = document.getElementById('myChart1').getContext('2d');
                    // Create the bar chart
                  myChart1 = new Chart(ctx1, {
                    type: 'bar', 
                    data: {
                      labels:label, 
                      datasets: [
                        {
                          label: 'Fuel in Litres',
                          data: fuels, 
                          backgroundColor: 'gray'
                        },
                        {
                          label: 'Odo in x100 Km',
                          data: odoReading,
                          backgroundColor: 'black'
                        }
                      ]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });

        }
        function chart1(label){
          const ctx = document.getElementById('myChart').getContext('2d');
                    // Create the bar chart
                  myChart = new Chart(ctx, {
                    type: 'bar', 
                    data: {
                      labels:label, 
                      datasets: [
                        {
                          label: 'fuel amount',
                          data: amounts, 
                          backgroundColor: 'blue'
                        },
                        {
                          label: 'Fine amount',
                          data: fineAmount,
                          backgroundColor: 'green'
                        }
                      ]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
        }
         const value = document.getElementById('value').innerText;
        const arrayString = value.trim();
        const correctedJsonString = arrayString.replace(/'/g, '"');
        console.log(correctedJsonString)
        const data = JSON.parse(correctedJsonString)
        console.log(data)
        let myChart
        let myChart1
        const filterOption = document.getElementById('filter-option');
        const startDate = document.getElementById('start-date');
        const endDate = document.getElementById('end-date');
        const filterButton = document.getElementById('filter');
        console.log(startDate,endDate)
        //////////////////////////////////////////////////
        const value1 = document.getElementById('value1').innerText;
        const arrayString1 = value1.trim();
        const correctedJsonString1 = arrayString1.replace(/'/g, '"');
        console.log(correctedJsonString1)
        const data1 = JSON.parse(correctedJsonString1)
        console.log(data1)
            filterOption.value = "week"

             const today = new Date(); // Current date
                const oneWeekAgo = new Date(today);
                oneWeekAgo.setDate(today.getDate() - 7);
                /////////////////////////////////////////////////////////////////////////////
                const filteredData = data.filter(item => {
                  const itemDate = new Date(item.date); // Assuming 'date' is a property in your data
                  return itemDate >= oneWeekAgo && itemDate <= today;
                });
                const vehicleTotals = {};
                let weeklyLabel=[]
                filteredData.forEach(entry => {
                    const vehicleNo = entry.vehicle_no;
                    const amount = entry.amount;
                    const odo = entry.current_odometer_reading;
                    const fuelInLitres = entry.fuel_in_litres;

                    if (!vehicleTotals[vehicleNo]) {
                        weeklyLabel.push(vehicleNo)
                        vehicleTotals[vehicleNo] = {
                            total_fine_amount:0,
                            total_odo_reading:odo,
                            total_amount: amount,
                            total_fuel_in_litres: fuelInLitres,
                        };
                    } else {
                        vehicleTotals[vehicleNo].total_amount += amount;
                        vehicleTotals[vehicleNo].total_odo_reading += odo;
                        vehicleTotals[vehicleNo].total_fuel_in_litres += fuelInLitres;
                    }
                });
                ////////////////////////////////////////////////////////////////////////////////////////
                const filteredData1 = data1.filter(item=>{
                  const itemDate = new Date(item.fine_date); // Assuming 'date' is a property in your data
                  return itemDate >= oneWeekAgo && itemDate <= today;
                })
                filteredData1.forEach(entry => {
                  const vehicleNo = entry.vehicle_no;
                  const fine_amount = entry.fine_amount;
                  console.log("fine",fine_amount)
                  if (vehicleTotals[vehicleNo]) {
                  vehicleTotals[vehicleNo].total_fine_amount += fine_amount;
                  }
                });
                ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
                const amounts = weeklyLabel.map(i=>vehicleTotals[i].total_amount);
                const fuels = weeklyLabel.map(i=>vehicleTotals[i].total_fuel_in_litres)
                const fineAmount = weeklyLabel.map(i=>vehicleTotals[i].total_fine_amount)
                const odoReading = weeklyLabel.map(i=>vehicleTotals[i].total_odo_reading/100)
                console.log("fine amount",fineAmount)

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

                chart1(weeklyLabel);
                chart2(weeklyLabel)
////////////////////////////////////////////////////////////////////////////////////////////
                  



         


        filterOption.addEventListener('change', function () {
            if (filterOption.value === 'interval') {
                startDate.style.display = 'inline';
                endDate.style.display = 'inline';
                filterButton.style.display = 'inline';

            } else {
                startDate.style.display = 'none';
                endDate.style.display = 'none';
                filterButton.style.display = 'none'
              }
              const selectedFilterOption = filterOption.value;
              if (myChart) {
                  myChart.destroy();
              }
              if (myChart1) {
                  myChart1.destroy();
              }
             
              if (selectedFilterOption === 'interval') {
                  const selectedStartDate1= new Date(startDate.value);
                  const year = selectedStartDate1.getFullYear();
                  const month = (selectedStartDate1.getMonth() + 1).toString().padStart(2, '0'); // Month is zero-based
                  const day = selectedStartDate1.getDate().toString().padStart(2, '0');

                  const selectedStartDate = `${year}-${month}-${day}`;
                  console.log(selectedStartDate)
                  const selectedEndDate1 = new Date(endDate.value);
                  const yearend = selectedEndDate1.getFullYear();
                  const monthend = (selectedEndDate1.getMonth() + 1).toString().padStart(2, '0'); // Month is zero-based
                  const dayend = selectedEndDate1.getDate().toString().padStart(2, '0');

                  const selectedEndDate = `${yearend}-${monthend}-${dayend}`;
                  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                  const filteredData = data.filter(item => {
                  const itemDate = item.date; 
                  return (
                    itemDate >= selectedStartDate && itemDate <= selectedEndDate
                  );
                  })
                  const vehicleTotals = {};
                let yearlyLabel=[]
                filteredData.forEach(entry => {
                  const vehicleNo = entry.vehicle_no;
                    const amount = entry.amount;
                    const odo = entry.current_odometer_reading;
                    const fuelInLitres = entry.fuel_in_litres;

                    if (!vehicleTotals[vehicleNo]) {
                        yearlyLabel.push(vehicleNo)
                        vehicleTotals[vehicleNo] = {
                            total_fine_amount:0,
                            total_odo_reading:odo,
                            total_amount: amount,
                            total_fuel_in_litres: fuelInLitres,
                        };
                    } else {
                        vehicleTotals[vehicleNo].total_amount += amount;
                        vehicleTotals[vehicleNo].total_odo_reading += odo;
                        vehicleTotals[vehicleNo].total_fuel_in_litres += fuelInLitres;
                    }
                });
                /////////////////////////////////////////////////////////////////////////////////
                const filteredData1 = data1.filter(item=>{
                  const itemDate = new Date(item.fine_date); // Assuming 'date' is a property in your data
                  return (
                    itemDate >= selectedStartDate && itemDate <= selectedEndDate
                  );
                })
                filteredData1.forEach(entry => {
                  const vehicleNo = entry.vehicle_no;
                  const fine_amount = entry.fine_amount;
                  console.log("fine",fine_amount)
                  if (vehicleTotals[vehicleNo]) {
                  vehicleTotals[vehicleNo].total_fine_amount += fine_amount;
                  }
                });


                ///////////////////////////////////////////////////////////////////////
                const amounts = yearlyLabel.map(i=>vehicleTotals[i].total_amount);
                const fuels = yearlyLabel.map(i=>vehicleTotals[i].total_fuel_in_litres)
                const fineAmount = yearlyLabel.map(i=>vehicleTotals[i].total_fine_amount)
                const odoReading = yearlyLabel.map(i=>vehicleTotals[i].total_odo_reading/100)
                ////////////////////////////////////////////////////////////////////////

               chart1(yearlyLabel)
               chart2(yearlyLabel)
               //////////////////////////////////////////////////////////////////////
                }else if(selectedFilterOption === 'day'){
                const selectedDate = new Date(); // Replace with your selected date
                const filteredData = data.filter(item => {
                  const itemDate = new Date(item.date); // Assuming 'date' is a property in your data
                  return (
                    itemDate.getDate() === selectedDate.getDate() &&
                    itemDate.getMonth() === selectedDate.getMonth() &&
                    itemDate.getFullYear() === selectedDate.getFullYear()
                  );
                });
              //////////////////////////////////////////////////////////////////////////////////////
                const vehicleTotals = {};
                let dailyLabel=[]
                /////////////////////////////////////////////////////////////////////////////////
                filteredData.forEach(entry => {
                    const vehicleNo = entry.vehicle_no;
                    const amount = entry.amount;
                    const odo = entry.current_odometer_reading;
                    const fuelInLitres = entry.fuel_in_litres;

                    if (!vehicleTotals[vehicleNo]) {
                        dailyLabel.push(vehicleNo)
                        vehicleTotals[vehicleNo] = {
                            total_fine_amount:0,
                            total_odo_reading:odo,
                            total_amount: amount,
                            total_fuel_in_litres: fuelInLitres,
                        };
                    } else {
                        vehicleTotals[vehicleNo].total_amount += amount;
                        vehicleTotals[vehicleNo].total_odo_reading += odo;
                        vehicleTotals[vehicleNo].total_fuel_in_litres += fuelInLitres;
                    }
                });
                ////////////////////////////////////////////////////////////////////
                const filteredData1 = data1.filter(item=>{
                  const itemDate = new Date(item.fine_date); // Assuming 'date' is a property in your data
                  return (
                    itemDate.getDate() === selectedDate.getDate() &&
                    itemDate.getMonth() === selectedDate.getMonth() &&
                    itemDate.getFullYear() === selectedDate.getFullYear()
                  );
                })
                filteredData1.forEach(entry => {
                  const vehicleNo = entry.vehicle_no;
                  const fine_amount = entry.fine_amount;
                  console.log("fine",fine_amount)
                  if (vehicleTotals[vehicleNo]) {
                  vehicleTotals[vehicleNo].total_fine_amount += fine_amount;
                  }
                });
                /////////////////////////////////////////////////////////////////////////
                const amounts = dailyLabel.map(i=>vehicleTotals[i].total_amount);
                const fuels = dailyLabel.map(i=>vehicleTotals[i].total_fuel_in_litres)
                const fineAmount = dailyLabel.map(i=>vehicleTotals[i].total_fine_amount)
                const odoReading = dailyLabel.map(i=>vehicleTotals[i].total_odo_reading/100)
              //////////////////////////////////////////////////////////////////////
               chart1(dailyLabel)
               chart2(dailyLabel)
                
              }else if(selectedFilterOption === 'week'){
                const today = new Date(); // Current date
                const oneWeekAgo = new Date(today);
                oneWeekAgo.setDate(today.getDate() - 7);
                const filteredData = data.filter(item => {
                  const itemDate = new Date(item.date); // Assuming 'date' is a property in your data
                  return itemDate >= oneWeekAgo && itemDate <= today;
                });
              
                const vehicleTotals = {};
                let weeklyLabel=[]
                //////////////////////////////////////////////////////////////////////////////////////
                filteredData.forEach(entry => {
                  const vehicleNo = entry.vehicle_no;
                    const amount = entry.amount;
                    const odo = entry.current_odometer_reading;
                    const fuelInLitres = entry.fuel_in_litres;

                    if (!vehicleTotals[vehicleNo]) {
                        weeklyLabel.push(vehicleNo)
                        vehicleTotals[vehicleNo] = {
                            total_fine_amount:0,
                            total_odo_reading:odo,
                            total_amount: amount,
                            total_fuel_in_litres: fuelInLitres,
                        };
                    } else {
                        vehicleTotals[vehicleNo].total_amount += amount;
                        vehicleTotals[vehicleNo].total_odo_reading += odo;
                        vehicleTotals[vehicleNo].total_fuel_in_litres += fuelInLitres;
                    }
                });
                ////////////////////////////////////////////////////////////////////////////////////
                const filteredData1 = data1.filter(item=>{
                  const itemDate = new Date(item.fine_date); // Assuming 'date' is a property in your data
                  return itemDate >= oneWeekAgo && itemDate <= today;
                })
                filteredData1.forEach(entry => {
                  const vehicleNo = entry.vehicle_no;
                  const fine_amount = entry.fine_amount;
                  console.log("fine",fine_amount)
                  if (vehicleTotals[vehicleNo]) {
                  vehicleTotals[vehicleNo].total_fine_amount += fine_amount;
                  }
                });
                ///////////////////////////////////////////////////////////////////////////////

                const amounts = weeklyLabel.map(i=>vehicleTotals[i].total_amount);
                const fuels = weeklyLabel.map(i=>vehicleTotals[i].total_fuel_in_litres)
                const fineAmount = weeklyLabel.map(i=>vehicleTotals[i].total_fine_amount)
                const odoReading = weeklyLabel.map(i=>vehicleTotals[i].total_odo_reading/100)
                //////////////////////////////////////////////////////////////////////

               chart1(weeklyLabel)
               chart2(weeklyLabel)
               ///////////////////////////////////////////////////////////////////
              }else if(selectedFilterOption === 'month'){
                const today = new Date(); // Current date
                const startOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);
                const endOfMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0);
                const filteredData = data.filter(item => {
                  const itemDate = new Date(item.date); // Assuming 'date' is a property in your data
                  return itemDate >= startOfMonth && itemDate <= endOfMonth;
                });
                const vehicleTotals = {};
                let monthlyLabel=[]
                ////////////////////////////////////////////////////////////////////////////////////
                filteredData.forEach(entry => {
                    const vehicleNo = entry.vehicle_no;
                    const amount = entry.amount;
                    const odo = entry.current_odometer_reading;
                    const fuelInLitres = entry.fuel_in_litres;

                    if (!vehicleTotals[vehicleNo]) {
                        monthlyLabel.push(vehicleNo)
                        vehicleTotals[vehicleNo] = {
                            total_fine_amount:0,
                            total_odo_reading:odo,
                            total_amount: amount,
                            total_fuel_in_litres: fuelInLitres,
                        };
                    } else {
                        vehicleTotals[vehicleNo].total_amount += amount;
                        vehicleTotals[vehicleNo].total_odo_reading += odo;
                        vehicleTotals[vehicleNo].total_fuel_in_litres += fuelInLitres;
                    }
                });
                //////////////////////////////////////////////////////////////////////////////
                const filteredData1 = data1.filter(item=>{
                  const itemDate = new Date(item.fine_date); // Assuming 'date' is a property in your data
                  return itemDate >= startOfMonth && itemDate <= endOfMonth;
                })
                filteredData1.forEach(entry => {
                  const vehicleNo = entry.vehicle_no;
                  const fine_amount = entry.fine_amount;
                  console.log("fine",fine_amount)
                  if (vehicleTotals[vehicleNo]) {
                  vehicleTotals[vehicleNo].total_fine_amount += fine_amount;
                  }
                });

                ////////////////////////////////////////////////////////////////////////////////
                const amounts = monthlyLabel.map(i=>vehicleTotals[i].total_amount);
                const fuels = monthlyLabel.map(i=>vehicleTotals[i].total_fuel_in_litres)
                const fineAmount = monthlyLabel.map(i=>vehicleTotals[i].total_fine_amount)
                const odoReading = monthlyLabel.map(i=>vehicleTotals[i].total_odo_reading/100)
                /////////////////////////////////////////////////////////////////////////////////
                chart1(monthlyLabel)
                chart2(monthlyLabel)
                //////////////////////////////////////////////////////////////////////////////////////
              }else{
                const today = new Date(); // Current date
                const startOfYear = new Date(today.getFullYear(), 0, 1);
                const endOfYear = new Date(today.getFullYear(), 11, 31);
                const filteredData = data.filter(item => {
                  const itemDate = new Date(item.date); // Assuming 'date' is a property in your data
                  return itemDate >= startOfYear && itemDate <= endOfYear;
                });
                const vehicleTotals = {};
                let yearlyLabel=[]
                ////////////////////////////////////////////////////////////////////////
                filteredData.forEach(entry => {
                    const vehicleNo = entry.vehicle_no;
                    const amount = entry.amount;
                    const odo = entry.current_odometer_reading;
                    const fuelInLitres = entry.fuel_in_litres;

                    if (!vehicleTotals[vehicleNo]) {
                        yearlyLabel.push(vehicleNo)
                        vehicleTotals[vehicleNo] = {
                            total_fine_amount:0,
                            total_odo_reading:odo,
                            total_amount: amount,
                            total_fuel_in_litres: fuelInLitres,
                        };
                    } else {
                        vehicleTotals[vehicleNo].total_amount += amount;
                        vehicleTotals[vehicleNo].total_odo_reading += odo;
                        vehicleTotals[vehicleNo].total_fuel_in_litres += fuelInLitres;
                    }
                });
                ///////////////////////////////////////////////////////////////////////
                const filteredData1 = data1.filter(item=>{
                  const itemDate = new Date(item.fine_date); // Assuming 'date' is a property in your data
                  return itemDate >= startOfYear && itemDate <= endOfYear;
                })
                filteredData1.forEach(entry => {
                  const vehicleNo = entry.vehicle_no;
                  const fine_amount = entry.fine_amount;
                  if (vehicleTotals[vehicleNo]) {
                  vehicleTotals[vehicleNo].total_fine_amount += fine_amount;
                  }
                });
                /////////////////////////////////////////////////////////////////////
                const amounts = yearlyLabel.map(i=>vehicleTotals[i].total_amount);
                const fuels = yearlyLabel.map(i=>vehicleTotals[i].total_fuel_in_litres)
                const fineAmount = yearlyLabel.map(i=>vehicleTotals[i].total_fine_amount)
                const odoReading = yearlyLabel.map(i=>vehicleTotals[i].total_odo_reading/100)
                //////////////////////////////////////////////////////////////////////////
                chart1(yearlyLabel)
                chart2(yearlyLabel)
                ///////////////////////////////////////////////////////////////////////////////
              }
        });

        filterButton.addEventListener('click', function () {
          const selectedFilterOption = filterOption.value;
              if (myChart) {
                  myChart.destroy();
              }
              if (selectedFilterOption === 'interval') {
                  const selectedStartDate1= new Date(startDate.value);
                  const year = selectedStartDate1.getFullYear();
                  const month = (selectedStartDate1.getMonth() + 1).toString().padStart(2, '0'); // Month is zero-based
                  const day = selectedStartDate1.getDate().toString().padStart(2, '0');

                  const selectedStartDate = `${year}-${month}-${day}`;
                  console.log(selectedStartDate)
                  const selectedEndDate1 = new Date(endDate.value);
                  const yearend = selectedEndDate1.getFullYear();
                  const monthend = (selectedEndDate1.getMonth() + 1).toString().padStart(2, '0'); // Month is zero-based
                  const dayend = selectedEndDate1.getDate().toString().padStart(2, '0');

                  const selectedEndDate = `${yearend}-${monthend}-${dayend}`;
                  const filteredData = data.filter(item => {
                  const itemDate = item.date; 
                  return (
                    itemDate >= selectedStartDate && itemDate <= selectedEndDate
                  );
                  })
                  const vehicleTotals = {};
                let yearlyLabel=[]
                //////////////////////////////////////////////////////////////////////////////////
                filteredData.forEach(entry => {
                    const vehicleNo = entry.vehicle_no;
                    const amount = entry.amount;
                    const odo = entry.current_odometer_reading;
                    const fuelInLitres = entry.fuel_in_litres;

                    if (!vehicleTotals[vehicleNo]) {
                        yearlyLabel.push(vehicleNo)
                        vehicleTotals[vehicleNo] = {
                            total_fine_amount:0,
                            total_odo_reading:odo,
                            total_amount: amount,
                            total_fuel_in_litres: fuelInLitres,
                        };
                    } else {
                        vehicleTotals[vehicleNo].total_amount += amount;
                        vehicleTotals[vehicleNo].total_odo_reading += odo;
                        vehicleTotals[vehicleNo].total_fuel_in_litres += fuelInLitres;
                    }
                });
         //////////////////////////////////////////////////////////////////////////////////////////////////////////
                const filteredData1 = data1.filter(item=>{
                  const itemDate = item.fine_date; 
                  return (
                    itemDate >= selectedStartDate && itemDate <= selectedEndDate
                  );
                })
                filteredData1.forEach(entry => {
                  const vehicleNo = entry.vehicle_no;
                  const fine_amount = entry.fine_amount;
                  console.log("fine",fine_amount)
                  if (vehicleTotals[vehicleNo]) {
                  vehicleTotals[vehicleNo].total_fine_amount += fine_amount;
                  }
                });
                //////////////////////////////////////////////////////////////////////////////////
                const amounts = yearlyLabel.map(i=>vehicleTotals[i].total_amount);
                const fuels = yearlyLabel.map(i=>vehicleTotals[i].total_fuel_in_litres)
                const fineAmount = yearlyLabel.map(i=>vehicleTotals[i].total_fine_amount)
                const odoReading = yearlyLabel.map(i=>vehicleTotals[i].total_odo_reading/100)
         //////////////////////////////////////////////////////////////////////////////////////////////
               chart1(yearlyLabel)
               chart2(yearlyLabel)
                }
          
        });
       
      </script>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

{% endblock  %}